* {
    color: red;
    text-align: center;
}

body {
    background-image: url(../img/dungeon2.png);
    
   
}
nav {
    background-color: black;
    padding: 10px;
    text-decoration: none;
}
img {
    width: 50%;
}
ol {
    text-align: center;
}
footer {
    background-color: black;
    padding: 10px;
}